[user]
	email = sam@vd.st
	name = Samuel
[init]
	defaultBranch = main
[color]
	ui = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true
[pager]
	branch = false
